.moving {
    transition: none !important;
}

.loading {
    background: url(../img/ajax-loader.gif) no-repeat center;
    height: 200px;
    border: none !important;
}

.hidden {
    /*display: none;*/
}